<div id="busqueda">
  <input
    type="text"
    class="texto"
    id="search"
    [(ngModel)]="search"
    placeholder="Bullbasaur, charizard ..."
  />

  <input
    type="button"
    class="boton"
    id="BSearch"
    value="Buscar.."
    (click)="filtro()"
  />
</div>
<h2>Mis Resultados</h2>

<div class="pokemon-result">
  <div class="tarjet"
    *ngFor="let pokemon of pokemons.reverse() | paginate: { itemsPerPage: 2, currentPage: page, totalItems: 804}">
    <div class="card">
      <div class="row">
        <div class="col-sm-12 col-md-8 tarjeta">
          <img [src]="pokemon.sprites.front_default" />
          <img [src]="pokemon.sprites.back_default" />
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card-body {{pokemon.types[0].type.name}}">
            <h5 class="card-title {{pokemon.types[1]?.type.name}}">
              <strong>{{pokemon.name}}</strong>
            </h5>
            <h6 *ngIf="pokemon.types[1]?.type.name; else elseBl3">
              <strong>Tipo: </strong>
              <strong
                >{{pokemon.types[0].type.name}},
                {{pokemon.types[1]?.type.name}}</strong>
            </h6>
            <ng-template #elseBl3><strong>Tipo: </strong>
              <strong>{{pokemon.types[0].type.name}}</strong>
            </ng-template>
            <h6><strong>Movimientos:</strong></h6>
            <p *ngIf="pokemon.moves[1]?.move.name; else elseBl">
              {{pokemon.moves[0]?.move.name}}, {{pokemon.moves[1]?.move.name}}
            </p>
            <ng-template #elseBl>{{pokemon.moves[0].move.name}}</ng-template>

            <p *ngIf="pokemon.moves[3]?.move.name; else elseBl2">
              {{pokemon.moves[2]?.move.name}}, {{pokemon.moves[3]?.move.name}}
            </p>
            <ng-template #elseBl2>{{pokemon.moves[2]?.move.name}}</ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<pagination-controls *ngIf="show == 0" (pageChange)="page = $event; pokemons = []; getPokemon()">
</pagination-controls>