$blanco: #fcfcfc;
$base: #17202a;
$azul: #000080;
$fondoimage: #e5e8e8;

$lucha: #5d1818;
$volador: #000080;
$veneno: #800080;
$tierra: #965a3e;
$roca: #808080;
$bicho: #ffd700;
$fantasma: #c0c0c0;
$normal: #ffffff;
$acero: #838996;
$fuego: #ff0000;
$agua: #9bddff;
$planta: #648c11;
$electrico: #efcc00;
$psiquico: #ff4500;
$hielo: #008080;
$dragon: #264348;
$siniestro: #333333;
$hada: #ffb3de;
$sombra: #1a1110;
